@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 224 71% 4%;
    --card: 60 50% 95%;
    --card-foreground: 224 71% 4%;
    --popover: 60 50% 95%;
    --popover-foreground: 224 71% 4%;
    --primary: 120 60% 34%;
    --primary-foreground: 60 30% 96%;
    --secondary: 47 100% 67%;
    --secondary-foreground: 45 84% 25%;
    --muted: 60 20% 85%;
    --muted-foreground: 224 71% 25%;
    --accent: 60 20% 88%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 30% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 80%;
    --ring: 120 60% 34%;
    --chart-1: 120 60% 34%;
    --chart-2: 47 100% 67%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    
    --sidebar-background: 60 56% 91%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 120 60% 34%;
    --sidebar-primary-foreground: 60 30% 96%;
    --sidebar-accent: 60 20% 88%;
    --sidebar-accent-foreground: 224 71% 4%;
    --sidebar-border: 60 20% 80%;
    --sidebar-ring: 120 60% 34%;
  }
  .dark {
    --background: 240 10% 4%;
    --foreground: 60 30% 96%;
    --card: 240 10% 4%;
    --card-foreground: 60 30% 96%;
    --popover: 240 10% 4%;
    --popover-foreground: 60 30% 96%;
    --primary: 120 60% 45%;
    --primary-foreground: 60 30% 98%;
    --secondary: 47 100% 67%;
    --secondary-foreground: 45 84% 25%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 4% 16%;
    --accent-foreground: 60 30% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 60 30% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 120 60% 45%;
    --chart-1: 120 60% 45%;
    --chart-2: 47 100% 67%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    
    --sidebar-background: 240 10% 4%;
    --sidebar-foreground: 60 30% 96%;
    --sidebar-primary: 120 60% 45%;
    --sidebar-primary-foreground: 60 30% 98%;
    --sidebar-accent: 240 4% 16%;
    --sidebar-accent-foreground: 60 30% 98%;
    --sidebar-border: 240 4% 16%;
    --sidebar-ring: 120 60% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
